
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

$menu-item-color: $white-ter;
$menu-item-radius: 0;

// Bootstrap
@import '~bulma/bulma';

// Utils
@import "variables";

html, body {
	height: 100%
}

#app {
	display: grid;
	grid-template-columns: 360px auto;
	grid-template-areas: "sidebar main";
	min-height: 100%;

	#sidebar {
		grid-area: sidebar;
		display: flex;
		flex-direction: column;
		background: $black-ter;
		color: $white-ter;

		.menu {
			flex-grow: 1;
		}
	}

	#main {
		grid-area:  main;
	}
}
.category-gallery {
	display: flex;
}
.artwork-gallery {
	display: flex;
	.columns {
		display: flex;
	}
	.artwork-gallery-column {
		width: 33.33%;
		padding: 0 3px;
	}
	.artwork {
		cursor: pointer;
		border: 1px solid $grey;
		padding: 5px;
		margin-bottom: 6px;
		img {
			display: block
		}
	}
	.category {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: relative;
		border: 1px solid $grey;
		padding: 5px;
		h3 {
			color: $white-ter;
			text-shadow: 0px 0px 2px black;
			font-weight: bold;
			text-decoration: none;
			position: absolute;
			z-index: 10;
			font-size: 1.3rem;
		}
		.overlay {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: rgba(0, 0, 0, 0.2);
			transition: all 0.3s;
		}
		&:hover .overlay {
			background-color: rgba(0, 0, 0, 0.1);
		}
	}
}
