
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bulma/bulma';

// Utils
@import "variables";

html, body {
	min-height: 100%
}

#app {
	display: grid;
	grid-template-columns: 360px auto;
	grid-template-areas: "sidebar main";
	min-height: 100%;
	#sidebar {
		grid-area: sidebar;
	}
	#main {
		grid-area:  main;
	}
}

.artwork-gallery {
	.artwork {
		border: 1px solid lightcyan;
	}
}
